.modal-header
  h3.modal-title #{lang.editor_title}
.modal-body
  img(ng-img-area-select ng-img-area-select-options="ctrl.options" selection="ctrl.coords" src="ctrl.imageToLoad")
.modal-footer
  button.btn.btn-default.hidden-print(type='button', ng-click='ctrl.cancel()') #{lang.editor_cancel}
  button.btn.btn-primary.hidden-print(type='button', ng-click='ctrl.close()') #{lang.editor_close}
