footer.footer
  .container
    .col-md-2.col-xs-12
      a.btn.btn-link(style='color:white;font-size: 10px;' href="http://webdad.eu" target="_blank" ) Powered by WebDaD
    .col-md-offset-4.col-md-6.col-xs-12.pull-right
      a.btn.btn-link(style='color:white;font-size: 10px;' href="./nutzungsbedingungen" target="_blank" ) #{lang.intro_usage}
      a.btn.btn-link(style='color:white;font-size: 10px;' href="./impressum" target="_blank") #{lang.link_impressum}
      a.btn.btn-link(style='color:white;font-size: 10px;' href="./datenschutz" target="_blank") #{lang.link_datenschutz}
