footer.footer
  .container
    .col-md-2.col-xs-12
      a.btn.btn-link(style='color:white;' href="http://webdad.eu" target="_blank" style="font-size: 10px;") Powered by WebDaD
    .col-md-offset-4.col-md-6.col-xs-12
      a.btn.btn-link(style='color:white;' href="./nutzungsbedingungen" target="_blank" style="font-size: 10px;") #{lang.intro_usage}
      a.btn.btn-link(style='color:white;' href="./impressum" target="_blank" style="font-size: 10px;") #{lang.link_impressum}
      a.btn.btn-link(style='color:white;' href="./datenschutz" target="_blank" style="font-size: 10px;") #{lang.link_datenschutz}
