meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(charset='UTF-8')
meta(name="application-name", content="Storytelling Club")
meta(name='author', content='WebDaD')
meta(name='publisher', content='Dr. Maya Götz')
meta(name='copyright', content='Dr. Maya Götz')
meta(name='page-topic', content='Forschung Technik')
meta(name='page-type', content='HTML-Formular')
meta(name='audience', content='All')
meta(http-equiv='content-language', content=lang.key)
meta(name='robots', content='index, follow')
meta(name='DC.Creator', content='WebDaD')
meta(name='DC.Publisher', content='Dr. Maya Götz')
meta(name='DC.Rights', content='Dr. Maya Götz')
meta(name='DC.Language', content=lang.key)
meta(property='og:type', content='website')
meta(property='og:title', content='Storytelling Club')
meta(property='og:url', content='http://storytellingclub.de')
meta(property='og:image', content='http://storytellingclub.de/images/apple-touch-icon.png')
meta(name='twitter:card', content='summary_large_image')
meta(name='twitter:site', content='http://storytellingclub.de')
meta(name='twitter:title', content='Storytelling Club')
meta(name='twitter:image', content='http://storytellingclub.de/images/apple-touch-icon.png')
link(rel='stylesheet', href='css/css.min.css')
link(rel="apple-touch-icon", sizes="180x180", href="/images/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="/images/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/images/favicon-16x16.png")
link(rel="manifest", href="/images/manifest.json")
link(rel="mask-icon", href="/images/safari-pinned-tab.svg", color="#008ae1")
link(rel="shortcut icon", href="/images/favicon.ico")
meta(name="msapplication-config", content="/images/browserconfig.xml")
meta(name="theme-color", content="#008ae1")
link(rel='stylesheet', href='langcss/'+lang.key+'.css')
title Storytelling Club
// Global site tag (gtag.js) - Google Analytics
script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-3844306-23')
script.
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-3844306-23');
