.row(ng-show="ctrl.catLoading")
  .col-md-12
    .spinner
.row(ng-show="!ctrl.catLoading")
  .col-md-3
    button.btn.btn-default.btn-block(ng-click="ctrl.catPrevious()")
      i.fa.fa-chevron-left
      |  {{lang[ctrl.categories.previous.lang_string_key]]}}
  .col-md-6.text-center
    h2 {{lang[ctrl.categories.active.lang_string_key]}}
  .col-md-3
    button.btn.btn-default.btn-block(ng-click="ctrl.catNext()")
      | {{lang[ctrl.categories.next.lang_string_key]}}
      i.fa.fa-chevron-right
.row(ng-show="!ctrl.catLoading")
  .col-md-3(ng-repeat="n in arrayFromPages(ctrl.categories.active.pages) track by $index")
    button.btn.btn-default.btn-block(ng-class="btn-success:n==ctrl.selectedPage" ng-disabled="n==ctrl.selectedPage" ng-click="ctrl.selectedPage = n")= (n++)+"/"(n+1)
.row(ng-show="!ctrl.catLoading") 
  .col-xs-6.text-center
    img.img-responsive(ng-src="/images/{{ctrl.actionid}}/{{ctrl.selectedPage}}" alt="Actual Layout")
  .col-xs-6
    .row
      .col-md-12
        select#layoutSelect.form-control(ng-options="layout.name for layout in ctrl.categories.active.layouts track by layout.id" ng-model="ctrl.selectedLayout" ng-change="ctrl.saveLayout()")
    .row
      .col-md-6(ng-repeat="position in ctrl.selectedLayout.positions" ng-class="has-image:position.image")
        form.dropzone(ng-show="!position.image" method="post" enctype="multipart/form-data" ng-dropzone dropzone="position.dropzone" dropzone-config="ctrl.dropzoneConfig"  action="/images/upload/{{ctrl.actionid}}/{{ctrl.selectedPage}}/{{position.id}}")
        span(ng-show="!position.image") #{lang.layout_upload}
        img(ng-show="position.image" ng-src='/images/{{ctrl.actionid}}/{{ctrl.selectedPage}}/{{position.id}}')
        span.edit-overlay(ng-show="position.image" ng-click="ctrl.openEditor(position)") #{lang.layout_edit}
        span.edit-overlay(ng-show="position.image" ng-click="ctrl.delete(position)") #{lang.layout_delete_image}
