h1 Users
p.well Here are all Users that are registered.
img.loader(ng-show="isLoading" src="/images/loader.gif")
table.table.table-bordered.table-striped.table-hover.table-condensed(ng-table="ctrl.tableParams" ng-form="ctrl.tableForm" show-filter="true" ng-show="!isLoading")
  tr(ng-repeat="row in $data"  ng-form="rowForm" emit-last-repeater-element)
    td(data-title="'Name'" filter="{nachname: 'text'}" sortable="'nachname'") {{row.vorname}} {{row.nachname}}
    td(data-title="'E-Mail'" filter="{email: 'text'}" sortable="'email'") {{row.email}}
    td(data-title="'Language'" filter="{language: 'text'}" sortable="'language'") {{row.language}}
    td(data-title="'Location'" filter="{location: 'text'}" sortable="'location'") {{row.location}}
    td(data-title="'Finalized'" filter="{finalized: 'text'}")
      span.glyphicon.glyphicon-ok(ng-show="row.finalized" title="Action Final")
      span.glyphicon.glyphicon-time(ng-show="!row.finalized" title="Action Pending")
