h1 #{lang.welcome_title}
p #{lang.welcome_text}
a(href='/pdf/'+lang.welcome_pdf target="_blank") #{lang.welcome_pdf_link}
button.btn.btn-lg.btn-primary(type="button" ng-click="toLayouter()")
  span #{lang.nav_layout}
  i.fa.fa-chevron-right(aria-hidden="true")
