{
  "port":8080,
  "database": {
    "host":"localhost",
    "user":"resilienz",
    "password":"resilienz",
    "database":"resilienz"
  },
  "mail": {
    host: 'localhost',
    port: 465,
    secure: true, // secure:true for port 465, secure:false for port 587
    auth: {
      user: 'localhost@localhost.com',
      pass: 'userpass'
    }
  },
  "images":"/var/resilienz/images",
  "books":"/var/resilienz/books",
  "pages":"/var/resilienz/pages",
  "pdfs":"/var/resilienz/pdfs",
  "powerpoints":"/var/resilienz/powerpoints",
  "backups":"/tmp/",
  "bookpages":46,
  "salt":"/var/resilienz/my.salt",
  "serversecret":"---some-random-string---",
  "gcaptchasecret":"google-captcha-server-key",
  "gcaptchaclient":"google-captcha-site-key"
}
