doctype html
html(lang=lang.key)
  head
    if debug
      include ../includes/head-debug.pug
    else
      include ../includes/head.pug
  body.no-skin
    // Here be the content:
    // Main TEXT
    // Download Manuals
    // Link to App (app.xxx.de)
    include ../includes/footer.pug
