doctype html
html(lang=lang.key)
  head
    if debug
      include ../includes/head-debug.pug
    else
      include ../includes/head.pug
  body.no-skin
    h1 #{lang.title}
    p #{lang.welcome}
    a(href="http://resilienz.prixjeunesse.de/login") #{lang.link_app}
    include ../includes/footer.pug
