footer.site-footer(role='contentinfo')
  .container
    .row
      .col-lg-12
        .site-info.pull-right
          a(href='/impressum/', rel='designer') #{lang.link_impressum}
          a(href='/impressum/datenschutzerklaerung/', rel='designer') #{lang.link_datenschutz}
