.row
  .col-md-3
    button.btn.btn-default.btn-block(ng-click="ctrl.switchToCategorie(ctrl.categories.previous.id)")
      i.fa.fa-chevron-left
      |  {{ctrl.categories.previous.name}}
  .col-md-6.text-center
    h2 {{ctrl.categories.active.name}}
  .col-md-3
    button.btn.btn-default.btn-block(ng-click="ctrl.switchToCategorie(ctrl.categories.next.id)")
      | {{ctrl.categories.next.name}}
      i.fa.fa-chevron-right
.row
    .col-md-3(ng-repeat="n in arrayFromPages(ctrl.categories.active.pages) track by $index")
        button.btn.btn-default.btn-block(ng-class="btn-success:n==ctrl.selectedPage" ng-disabled="n==ctrl.selectedPage" ng-click="ctrl.switchToPage(n)")= n++
.row 
  .col-xs-6.text-center
    img.img-responsive(ng-src="/images/{{ctrl.actionid}}/{{ctrl.categories.active.id}}/{{ctrl.selectedPage}}" alt="Actual Layout")
  .col-xs-6
    .row
      .col-md-12
        select#layoutSelect.form-control(ng-options="layout.name for layout in ctrl.layouts track by layout.id" ng-model="ctrl.selectedLayout")
    .row
      .col-md-6(ng-repeat="position in ctrl.selectedLayout.positions" ng-class="has-image:position.image, dropzone:!position.image")
        span(ng-show="!position.image") #{lang.layout_upload}
        img(ng-show="position.image" ng-src='/images/{{ctrl.actionid}}/{{ctrl.categories.active.id}}/{{ctrl.selectedPage}}/{{position.id}}')
        span.edit-overlay(ng-show="position.image" ng-click="ctrl.openEditor(position.id)") #{lang.layout_edit}
