@import "palette.less";
@import "navbar.less";
@import "circle-buttons.less";
@import "cards.less";
@import "ghost-button.less";
@import "spinner.less";

/* navbar brand */
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}
/* row grid error */
.row.row-grid [class*="col-"] {
    margin-top: 15px;
}

/* footer */
.site-footer {
	background-color: #374147;
	padding: 40px 0;
	color: #fff;
	margin-top: 30px;
}

.site-footer a {
	color: #fff;
	opacity: 0.6;
}

.site-footer a:hover {
	color: #fff;
	opacity: 1;
}
