@import "palette.less";
@import "navbar.less";
@import "circle-buttons.less";
@import "cards.less";
@import "ghost-button.less";
@import "spinner.less";

.container {
  background-color: white;
}

/* navbar brand */
.navbar-brand {
  display: flex;
  align-items: center;
}
.navbar-brand>img {
  padding: 7px 14px;
}
/* row grid error */
.row.row-grid [class*="col-"] {
    margin-top: 15px;
}

/* Footer */
footer {
  background-color: #212121 !important;
  color: #f0f0f0 !important;
  width: 100%;
  padding-top: 10px;
  margin-top: 20px;
}
/* better typhography */
body {
  font-family: 'Source Sans Pro';
}
p, figcaption, td, .btn {
  font-size: 20px;
	font-size: 1.8rem;
	letter-spacing: -.01em;
  font-style: normal;
	font-weight: 400;
  line-height: 1.4;
  word-wrap: normal;
}

/* layouter */
#page {
  position:relative;
}
#page .position {
  position:absolute;
}
