doctype html
html(lang=lang.key, ng-app='resilienzManager')
  head
    if debug
      include ../includes/head-debug.jade
    else
      include ../includes/head.jade
  body.no-skin
    if lang.key=='ar'
      include ../includes/navbar_rtl.jade
    else
      include ../includes/navbar.jade
    div.fluid-container
      #ng-view(ng-view='')
    include ../includes/footer.jade
    if debug
      include ../includes/scripts-debug.jade
    else
      include ../includes/scripts-debug.jade
