doctype html
html
  head
    include ../includes/head.jade
  body
    .container
      h1 Site notice
      h2 Details according to section 5 German Teleservices Act (Telemediengesetz, “TMG”)
      p
        | Maya Götz
        br
        |  PRIX 
        | JEUNESSE INTERNATIONAL
        br
        |  Rundfunkplatz 1
        br
        |  80335 München
      h2 Contact:
      table
        tr
          td Telephone:
          td +49 - 89 - 5900 42058
        tr
          td Fax:
          td
            | +49 - 89 - 5900
            | 23053
        tr
          td E-Mail:
          td info@prixjeunesse.de
      h1 Disclaimer
      h2 Liability for content
      p
        | Pursuant to section 7(1) TMG we are responsible as service providers for our own content on these pages in accordance with the general laws. Pursuant to sections 8 to 10 TMG we are not, however, responsible as service providers to monitor transmitted or stored third-party information or to enquire after circumstances that may indicate an illegal activity.
      p
        | This does not affect any obligations to remove or block the use of information in accordance with the general laws. Any liability in this regard only arises, however, from the time at which we have become aware of a specific legal infringement. Once we become aware of any such infringements, we will remove this content immediately.
      h2 Liability for links
      p
        | Our range of offers contains links to external third-party websites on whose content we have no influence. Therefore we are unable to assume any liability for such third-party content. The provider or operator of the pages in question is always responsible for the content of linked pages. Linked pages have been checked for possible right legal infringements at the time at which the link was put in place. No illegal content was detected at the time the link was put in place.
      p
        | A continued control of the content of linked pages without specific indications that suggest a legal infringement cannot reasonably be required. Once we become aware of legal infringements, we will remove such links immediately.
      h2 Copyright
      p
        | The content and works created by the site providers on these pages are subject to German copyright law. The reproduction, editing, distribution and any kind of exploitation beyond the limits stipulated by copyright law requires the written consent of the respective author or creator. Downloads from and copies of this website are only permitted for private, non-commercial use.
      p
        | Insofar as the content on this page has not been created by the operator, the copyrights of third parties will be respected. Third-party content will be marked as such. Should you become aware of a copyright infringement despite this, we would kindly ask to be notified. Once we become aware of any legal infringements, we will remove such content immediately.
      p
      | Source: 
      em
        a(href='https://www.e-recht24.de') https://www.e-recht24.de
    include ../includes/footer.jade
