doctype html
html
  head
    include ../includes/head.jade
  body
    .container
      h1 Aviso legal
      h2 Información de conformidad con el art. 5 de la Ley alemana sobre medios telemáticos: (Telemediengesetz, “TMG”)
      p
        | Maya Götz
        br
        |  PRIX 
        | JEUNESSE INTERNATIONAL
        br
        |  Rundfunkplatz 1
        br
        |  80335 München
      h2 Contacto:
      table
        tr
          td Teléfono:
          td +49 - 89 - 5900 42058
        tr
          td Fax:
          td +49 - 89 - 5900 23053
        tr
          td Correo electrónico:
          td info@prixjeunesse.de
      h1 Exención de responsabilidad (disclaimer)
      h2 Responsabilidad por los contenidos
      p
        | De conformidad con el art. 7, apartado 1, de la Ley alemana sobre medios telemáticos, en calidad de prestadores de servicios nos responsabilizamos de los contenidos propios disponibles en estas páginas según la legislación general. No obstante, a tenor de los artículos del 8 al 10 de la Ley alemana sobre medios telemáticos, en calidad de prestadores de servicios no estamos obligados a supervisar la información ajena que se nos transmita o se almacene, ni a investigar las circunstancias para detectar actividades ilícitas.
      p
        | El deber de retirar o bloquear el uso de la información conforme a la legislación general permanece inalterado. Sin embargo, no se pueden exigir responsabilidades en este sentido hasta el momento en que se tenga conocimiento de una infracción jurídica concreta. En cuanto se nos comuniquen tales infracciones, retiraremos los contenidos afectados de inmediato.
      h2 Responsabilidad por enlaces
      p
        | Nuestra oferta contiene enlaces a páginas web externas de terceros sobre cuyos contenidos no tenemos influencia alguna. Por consiguiente, no nos responsabilizamos de los contenidos ajenos. El responsable de los contenidos en páginas web enlazadas será, en todo momento, el ofertante u operador de la página en cuestión. No obstante, en el momento de enlazar las páginas web comprobamos que no conformaban ninguna infracción legal. En el momento de enlazar las páginas web no se detectaron contenidos ilícitos.
      p
        | No obstante, no es posible realizar un control permanente de los contenidos de las páginas enlazadas sin indicios concretos que apunten a una infracción jurídica. En cuanto se nos comuniquen tales infracciones, retiraremos los enlaces afectados de inmediato.
      h2 Derechos de autor
      p
        | Los contenidos y obras creados por el operador de la página web en estas páginas están protegidos por los derechos de autor. No se podrán reproducir, editar, difundir o utilizar de ningún modo, más allá del ámbito protegido por los derechos de autor, sin el consentimiento por escrito del autor o creador correspondiente. Esta página solamente se puede descargar y copiar para el uso particular no comercial.
      p
        | Cuando los contenidos en esta página no han sido creados por el operador, se respetan los derechos de autor de terceros y se indica que se trata de contenidos de terceros. Si, aun así, detecta una infracción de los derechos de autor, le rogamos nos lo indique. En cuanto se nos comuniquen tales infracciones, retiraremos los contenidos afectados de inmediato.
      p
      | Fuente: 
      em
        a(href='https://www.e-recht24.de') https://www.e-recht24.de
    include ../includes/footer.jade
