doctype html
html
  head
    include ../includes/head.jade
  body
    .container
      h1 Contrato de uso
      h2 Cláusula 1: Objeto contractual
      p 
        | (1) El objeto del presente contrato es el uso de los materiales pedagógicos de medios elaborados por la fundación PRIX JEUNESSE con el fin de organizar un Storytelling Club (en lo sucesivo, el «Storytelling Club»). Los materiales proporcionados están formados por un manual, un folleto para el personal pedagógico, varias hojas de trabajo, historias breves, instrucciones de juegos, mapamundis y materiales en formato vídeo (en septiembre de 2017).
      p 
        | El Storytelling Club es un proyecto pedagógico de medios protegido por derechos de autor. La fundación PRIX JEUNESSE es la única propietaria de los derechos de explotación exclusivos. 
      p 
        | (2) El Storytelling Club es un proyecto de la fundación PRIX JEUNESSE en colaboración con el Internationales Zentralinstitut. PRIX JEUNESSE tiene derecho a poner a disposición los materiales de los usuarios registrados en la página web storytellingclub.org/storytellingclub.de de forma gratuita e ilimitada para poder llevar a cabo el Storytelling Club.
      p 
        | (3) Este derecho de la fundación PRIX JEUNESSE se refiere exclusivamente a usuarios registrados. 
      h2 Cláusula 2: Ámbito de uso y atribución de derechos
      p 
        | (1) Mediante el presente contrato se atribuye al usuario o a la usuaria el derecho no exclusivo e intransferible de utilizar los materiales para llevar a cabo el Storytelling Club con fines no comerciales. No se permite transferir los derechos de uso a terceros. El permiso de proyección de los vídeos comprendidos por los materiales abarca únicamente las instalaciones del organismo correspondiente o las instalaciones alquiladas por el organismo correspondiente, y solo se permite en relación con el Storytelling Club. Mediante el registro, el usuario o la usuaria acepta el presente acuerdo de uso. En el marco del proyecto, el usuario o la usuaria proporciona extractos de los resultados del Storytelling Club (imágenes, historias y fotografías de los niños) en formato PDF en un servidor al que la fundación PRIX JEUNESSE puede acceder. La fundación PRIX JEUNESSE tiene derecho a utilizar los materiales con fines científicos y a publicarlos en el contexto del Storytelling Club.
      p 
        | (2) No se permite realizar ningún otro uso de distinta índole o alcance de los materiales y, en especial, no se permite la reproducción, la difusión o la facilitación pública de estos de cualquier otro modo. 
      p 
        | (3) No obstante, los materiales solo se pueden utilizar con los fines deseados en observancia de los posibles derechos de autor de terceros, los derechos morales y los derechos de autores y colaboradores u otras personas autorizadas si corresponde.    
      p 
        | (4) Solamente los usuarios registrados pueden descargarse los materiales. Para ello, la persona responsable nombrada por el organismo correspondiente creará los accesos con inicio de sesión pertinentes.
      p 
        | (5) La fundación PRIX JEUNESSE informará a todos los usuarios y usuarias acerca de los materiales elaborados o adicionales en las páginas web oficiales «www.storytellingclub.de» y «storytellingclub.org» y permitirá descargárselos de conformidad con las normas previstas en los apartados 2 y 3.
      p 
        | (6) El usuario o la usuaria no puede permitir la emisión radiofónica o televisiva de los materiales y, en especial, los vídeos, así como tampoco extractos de estos. No se permite ningún procesamiento de los materiales y vídeos, así como tampoco la incorporación de partes de estos (por ejemplo, extractos de vídeo o texto) en otras obras o sistemas de formación continuada, ni la realización de capturas de pantalla de vídeos u otros materiales.
      p 
        | (7) La fundación PRIX JEUNESSE asegura haber adquirido todos los derechos necesarios de sus respectivos titulares (incluyéndose todos los derechos de autor y afines, así como otros derechos de terceros) para poder efectuar un uso acorde con el objeto del contrato y manifiesta ser la única propietaria de dichos derechos. Lo anterior no incluye los derechos percibidos por sociedades de gestión.
      p 
        | (8) En el marco del registro, el usuario o la usuaria acepta el presente contrato de uso. El usuario o la usuaria es consciente de que la fundación PRIX JEUNESSE perseguirá por la vía civil y, cuando sea necesario, por la vía penal, cualquier violación de los derechos de autor protegidos. 
      h2 Cláusula 3: Medidas de precaución técnicas
      p 
        | 1) Durante el registro, el usuario o la usuaria recibe los datos de inicio de sesión, que ha elegido previamente, y con los cuales podrá acceder al servidor de la fundación PRIX JEUNESSE, donde se encuentran los materiales. 
      p 
        | (2) El usuario o la usuaria se compromete a tratar su contraseña con carácter confidencial y a tomar las precauciones necesarias para protegerla del acceso de terceros. El usuario o la usuaria debe informar por escrito a la fundación PRIX JEUNESSE si terceros no autorizados tienen conocimiento de su contraseña.
      h2 Cláusula 4: Obligaciones del usuario
      p 
        | (1) El usuario o la usuaria debe adoptar las medidas de control y protección razonables y adecuadas, dentro sus posibilidades, para impedir un uso no autorizado de los materiales. Lo anterior es especialmente aplicable en relación con sus empleados y empleadas, personal contratado, colaboradores autónomos y cualquier otra persona que tenga acceso a los materiales.  El usuario o la usuaria se compromete a informar de las limitaciones de uso acordadas a sus empleados y empleados, así como a terceros, que utilicen los materiales.
      p 
        | (2) En caso de que el usuario o la usuaria incumpla de forma repetida y demostrable sus deberes de protección, la fundación PRIX JEUNESSE podrá rescindir el contrato de uso sin necesidad de preaviso y prohibirle que siga haciendo uso de los materiales.
      h2 Cláusula 5: Responsabilidad
      p 
        | (1) El usuario o la usuaria asume la responsabilidad exclusiva por el uso del material proporcionado conforme al contrato y exime a la fundación PRIX JEUNESSE de cualquier reclamación de terceros, incluyéndose, cuando corresponda, los gastos de la defensa jurídica necesaria.
      p 
        | Además, el usuario o la usuaria exime a la fundación PRIX JEUNESSE de todas las reclamaciones de terceros que puedan derivar de usos no autorizados de los materiales que conforman el objeto de este contrato, incluyéndose, cuando corresponda, los gastos de la defensa jurídica necesaria.
      p 
        | (2) En caso de que el usuario o la usuaria incumpla el presente contrato de uso, la fundación PRIX JEUNESSE se reserva el derecho a emprender medidas legales.
      h2 Cláusula 6: Disposiciones finales
      p 
        | (1) Se aplicará el Derecho de la República Federal de Alemania.
      p 
        | (2) La jurisdicción competente para conocer todos los litigios derivados del presente contrato es Múnich. 
      p 
        | (3) La eventual nulidad e ineficacia total o parcial de una disposición de este contrato no afectará a la validez del resto de las disposiciones. Las partes se comprometen a reemplazar las cláusulas no válidas por otra cuya finalidad económica se acerque lo más posible al de la cláusula no válida dentro del marco legal permitido.  Lo anterior también es aplicable a posibles lagunas.
    include ../includes/footer.jade
