doctype html
html(lang='en')
  head
    include ../includes/head.jade
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/jquery.cookie.js')
    script(src='js/index.js')
  body.no-skin
    .container
      h1.text-center
        img(src="images/android-chrome-192x192.png" style="height: 100px;margin-right: 10px;")
        span Willkommen / Welcome / ¡Bienvenidos! / ترحيب
      .row.row-grid
        .col-md-6.col-md-offset-3
            include ../includes/gallery.jade
      .row.row-grid
        .col-md-12      
          h2 The Storytelling Club
          p
            | A project for the low-threshold promotion of resilience, creativity and mental health in children in difficult life situations. In weekly Storytelling Clubs children learn to write, draw and tell their own stories of strengths. The concrete result of a Storytelling Club is a book, composed of the stories and drawings of the children. The book is intended to help other children in a similar situation. Storytelling Club workshops can be conducted in refugee camps as well as any other setting where children have to cope with difficult circumstances. Pedagogues that wish to conduct a Storytelling Club are guided by a manual that leads through the procedures and has preprints for the story book. The Storytelling Club is a cooperative venture by the PRIX JEUNESSE Foundation, UNICEF and the International Central Institute for Youth and Educational Television.
      .row.row-grid
        .col-md-3
          button.lang-selector.btn-primary.btn.btn-lg.btn-block(data-lang="de") Weiter auf Deutsch
        .col-md-3
          button.lang-selector.btn-primary.btn.btn-lg.btn-block(data-lang="en") Continue in english
        .col-md-3
          button.lang-selector.btn-default.btn-lg.btn.btn-block.disabled(data-lang="et" tabindex="-1") Continuar en español
        .col-md-3
          button.lang-selector.btn-default.btn-lg.btn.btn-block.disabled(data-lang="ar" tabindex="-1") تستمر باللغة العربية
    include ../includes/footer.jade
