doctype html
html(lang='en')
  head
    include ../includes/head.jade
    script(src='js/jquery.min.js')
    script(src='js/jquery.cookie.js')
    script(src='js/index.js')
  body.no-skin
    .container
      h1 #{lang.title}
      p #{lang.index_text}
      a(href="http://resilienz.prixjeunesse.de/login") #{lang.link_app}
    include ../includes/footer.jade
