doctype html
html
  head
    include ../includes/head.jade
  body
    .container
      h1 Nutzungsvertrag
      h2 § 1 Vertragsgegenstand
      p	
        | (1) Gegenstand des Vertrages ist die Nutzung der von der Stiftung PRIX JEUNESSE hergestellten medienpädagogischen Materialien zur Durchführung eines Storytelling Clubs (im Folgenden "Storytelling Club" genannt). Die zur Verfügung gestellten Materialien bestehen aus einem Handbuch, einem Handout für Pädagoginnen/Pädagogen, diversen Arbeitsblättern, kurzen Geschichten, Spieleanleitungen, Weltkarten sowie Filmmaterialen (Stand 09.2017).
      p	
        | Der Storytelling Club ist ein urheberrechtlich geschütztes medienpädagogisches Projekt. Die Stiftung PRIX JEUNESSE ist alleinige Inhaberin der ausschließlichen Verwertungsrechte. 
      p	
        | (2) Der Storytelling Club ist ein Projekt der Stiftung PRIX JEUNESSE in Zusammenarbeit mit dem Internationalen Zentralinstitut. PRIX JEUNESSE ist berechtigt, die Materialien den auf der Seite storytellingclub.org/storytellingclub.de registrierten Nutzern unentgeltlich und zeitlich unbegrenzt zur Durchführung von Storytelling Clubs zur Verfügung zu stellen.
      p	
        | (3) Dieses Recht der Stiftung PRIX JEUNESSE bezieht sich ausschließlich auf registrierte Nutzer. 
      h2 § 2 Nutzungsumfang und Rechtseinräumung
      p	
        | (1) Der Nutzerin/dem Nutzer wird mit diesem Vertrag das nicht-ausschließliche, nicht übertragbare Recht eingeräumt, die Materialien im Rahmen der Durchführung von Storytelling Clubs für nicht-kommerzielle Zwecke zu nutzen. Eine Weiterübertragung auf Dritte bzw. Dritten Nutzungsrechte einzuräumen ist nicht gestattet. Die Vorführungsbefugnis der in den Materialien enthaltenen Filme umfasst nur die Räumlichkeiten der jeweiligen Einrichtung bzw. in den von der jeweiligen Einrichtung angemieteten Räumen und ist nur im Rahmen des Storytelling Clubs erlaubt. Mit der Registrierung stimmt die Nutzerin/der Nutzer der vorliegenden Nutzungsvereinbarung zu. Im Rahmen des Projektes stellt die Nutzerin/der Nutzer Auszüge aus den Ergebnissen des Storytelling Clubs (Bilder, Geschichten und Fotos der Kinder) als PDFs auf den Server, zu denen die Stiftung PRIX JEUNESSE Zugang hat. Die Stiftung PRIX JEUNESSE ist berechtigt die Materialien für wissenschaftliche Zwecke zu nutzen und im Kontext des Storytelling Clubs zu veröffentlichen.
      p	
        | (2) Jede anderweitige und/oder hierüber hinausgehende Nutzung der genannten Materialien, insbesondere jede sonstige Vervielfältigung und Verbreitung oder öffentliche Zugänglichmachung, ist unzulässig. 
      p	
        | (3) Allerdings kann die gewünschte Nutzung nur unter Beachtung der Rechte etwaiger anderer Urheber, der Urheberpersönlichkeitsrechte und der Rechte der Autoren sowie der Mitwirkenden und ggf. sonstiger Berechtigter erfolgen.
      p	
        | (4) Die Materialien dürfen nur von registrierten Nutzern heruntergeladen werden. Hierfür erstellt die von der Einrichtung benannte verantwortliche Person bei der Registrierung einen Login-Zugang.
      p	
        | (5) Die Stiftung PRIX JEUNESSE wird alle Nutzer/Nutzerinnen auf der offiziellen Internetseite unter „www.storytellingclub.de“ und „storytellingclub.org“ über die Bereitstellung überarbeiteter oder zusätzlicher Materialien informieren und den Download nach Maßgabe der unter den Absätzen 2 und 3 bestimmten Regelungen ermöglichen.
      p	
        | (6) Die Nutzerin/der Nutzer ist auch nicht berechtigt, Ausstrahlungen des Materials und insbesondere der Filme, auch nicht in Teilen, durch Rundfunk oder Fernsehen vornehmen zu lassen. Jegliche Bearbeitung der Materialien und der Filme sowie eine Einbettung von einzelnen Bestandteilen (beispielsweise Film- und Textausschnitten), in andere Werke/Fortbildungssysteme sowie die Anfertigung von Standfotos aus den Filmen oder sonstigen Materialien ist nicht gestattet.
      p	
        | (7) Die Stiftung PRIX JEUNESSE versichert, dass sie die zur vertragsgegenständlichen Nutzung erforderlichen Rechte aller Berechtigen (einschließlich sämtlicher Urheber- und Leistungsschutzrechte sowie sonstige Rechte Dritter) erworben hat und ihr alleine zustehen. Davon ausgenommen sind die von den Verwertungsgesellschaften wahrgenommenen Rechte.
      p	
        | (8) Bei Registrierung stimmt die Nutzerin/der Nutzer der vorliegenden Nutzungsvereinbarung zu. Der Nutzerin/dem Nutzer ist bekannt, dass die Stiftung PRIX JEUNESSE jegliche Verletzung ihrer urheberrechtlich geschützten Rechte zivilrechtlich und, wenn erforderlich, auch strafrechtlich verfolgen wird.
      h2 § 3 Technische Vorkehrungen
      p	
        | (1) Die Nutzerin/der Nutzer erhält bei der Registrierung selbst gewählte Zugangsdaten, die einen Zugriff auf den Server der Stiftung PRIX JEUNESSE ermöglichen, auf dem sich die Materialien befindet. 
      p	
        | (2) Die Nutzerin/der Nutzer verpflichtet sich, ihr/sein Passwort geheim zu halten und es gegen Zugriff durch Dritte durch geeignete Vorkehrungen zu schützen. Die Stiftung PRIX JEUNESSE ist von der Nutzerin/dem Nutzer unverzüglich in Schriftform in Kenntnis zu setzen, sofern das Passwort unberechtigten Dritten bekannt geworden ist.
      h2 § 4 Pflichten des Nutzers
      p	
        | (1) Die Nutzerin/der Nutzer hat in seinem Herrschaftsbereich zumutbare und geeignete Kontroll- und Schutzmaßnahmen vorzunehmen, um unbefugte Nutzungen der Materialien zu verhindern. Dies gilt insbesondere gegenüber seinen Mitarbeiterinnen/Mitarbeitern, Angestellten, freien Mitarbeiterinnen/Mitarbeitern sowie jeglichen anderen Personen, die Zugang zu den Materialien haben. Die Nutzerin/der Nutzer verpflichtet sich, seine Mitarbeiterinnen/Mitarbeiter und sonstige Dritte, die die Materialien nutzen, über die vereinbarten Einschränkungen des Nutzungsumfanges zu informieren.
      p	
        | (2) Verletzt die Nutzerin/der Nutzer wiederholt und nachweislich ihre/seine Schutzpflichten, ist die Stiftung PRIX JEUNESSE zur fristlosen Kündigung des Nutzungsvertrages und zur Untersagung der weiteren Nutzung berechtigt.
      h2 § 5 Haftung
      p	
        | (1) Die Nutzerin/der Nutzer übernimmt für die vertragsgemäße Nutzung des zur Verfügung gestellten Materials die alleinige Verantwortung und stellt die Stiftung PRIX JEUNESSE von allen Ansprüchen Dritter, einschließlich der Kosten einer eventuellen Rechtsverteidigung frei.
      p	
        | Darüber hinaus stellt die Nutzerin/der Nutzer die Stiftung PRIX JEUNESSE auch von allen Ansprüchen Dritter frei, die sich aus einer unbefugten Nutzung des vertragsgegenständlichen Materials ergeben sollten, dies ebenfalls einschließlich der Kosten einer eventuellen Rechtsverteidigung.
      p	
        | (2) Bei Verstößen gegen die vorliegende Nutzungsvereinbarung durch die Nutzerin/den Nutzer, behält sich die Stiftung PRIX JEUNESSE rechtliche Schritte vor.
      h2 § 6 Schlussbestimmungen
      p	
        | (1) Es gilt das Recht der Bundesrepublik Deutschland.
      p	
        | (2) Erfüllungsort und Gerichtsstand für alle Streitigkeiten aus diesem Vertrag ist München. 
      p	
        | (3) Sollte eine Bestimmung dieses Vertrages ganz oder teilweise unwirksam sein, so berührt dies nicht die Wirksamkeit der übrigen Bestimmungen. Die Parteien verpflichten sich, anstelle der unwirksamen Bestimmung eine solche wirksame Regelung zu treffen, die im Rahmen des rechtlich Zulässigen dem am nächsten kommt, was nach Sinn und Zweck der unwirksamen Bestimmung wirtschaftlich gewollt war. Dies gilt entsprechend für etwaige Lücken.
    include ../includes/footer.jade
