doctype html
html
  head
    include ../includes/head.jade
  body
    .container
      h1 Nutzungsbedingungen
      p Die Nutzungsbedingungen werden in Kürze aktualisiert.
    include ../includes/footer.jade
