doctype html
html
  head
    include ../includes/head.jade
  body
    .container
      h1 Política de privacidad
      h2 Protección de datos
      p
        | Los operadores de estas páginas se toman muy en serio la protección de sus datos personales. Tratamos sus datos personales de forma confidencial y de conformidad con las disposiciones legales en materia de protección de datos, así como la presente política de privacidad.
      p
        | En general, esta página web se puede utilizar sin necesidad de proporcionar datos personales. Cuando en nuestras páginas se recopilan datos personales (por ejemplo, el nombre, la dirección o correos electrónicos), dichos datos se proporcionan siempre de forma voluntaria, en tanto que sea posible. No transmitiremos dicha información a terceros sin su consentimiento expreso.
      p
        | Le informamos de que la transmisión de datos por Internet (por ejemplo, en la correspondencia por correo electrónico) puede presentar lagunas de seguridad. No se puede garantizar una protección total de los datos ante el acceso de terceros.
      p  
      h2 Cookies
      p
        | Las páginas web utilizan, en parte, las llamadas cookies. Las cookies no causan ningún daño a su ordenador y no contienen virus. Las cookies nos permiten configurar una oferta más agradable, eficaz y segura para el usuario. Las cookies son pequeños archivos de texto que se depositan en su ordenador y que guarda su navegador.
      p
        | La mayoría de las cookies que empleamos son las llamadas «cookies de sesión», que se eliminan automáticamente cuando finaliza su visita. Las demás cookies permanecen almacenadas en su terminal hasta que usted las elimine. Las cookies nos permiten reconocer su navegador en su próxima visita.
      p
        | Puede configurar su navegador para que este le informe cuando detecte el uso de cookies y permitirlas solo en casos excepcionales, establecer la aceptación de cookies en casos concretos o excluirlas por completo, así como activar la eliminación automática de cookies al cerrar el navegador. Desactivar las cookies puede limitar el funcionamiento de esta página web.
      p  
      h2 Archivos log del servidor
      p
        | El operador de las páginas web recopila y almacena automáticamente información en los llamados archivos log del servidor, que su servidor nos envía de forma automática. Más concretamente, se trata de:
      ul
        li Tipo y versión del navegador
        li Sistema operativo utilizado
        li URL de referencia
        li Nombre del equipo del ordenador que accede
        li Hora de la petición al servidor
      p
        | Esta información no se puede atribuir a personas concretas. Estos datos no se fusionan con otras fuentes de datos. Nos reservamos el derecho a verificar dichos datos con posterioridad si tenemos conocimiento de indicios concretos que apunten a un uso ilegal.
      p  
      h2 Formulario de contacto
      p
        | En caso de contactar con nosotros a través del formulario, almacenaremos la información proporcionada en el formulario de contacto, incluyéndose los datos de contacto facilitados, con el fin de procesar su consulta y para consultas posteriores. Si no presta su consentimiento, no transmitiremos esta información a terceros.
      p  
      h2 Política de privacidad para el uso de Google Analytics
      p
        | Esta página web utiliza funciones del sistema de análisis web Google Analytics. El operador es Google Inc., 1600 Amphitheatre Parkway Mountain View, CA 94043, EE. UU.
      p
        | Google Analytics utiliza cookies. Las cookies son archivos de texto que se almacenan en su ordenador y que permiten analizar el uso realizado de la página web. Por norma general, la información que generan las cookies acerca de su uso de la página web se transmite y se almacena en un servidor de Google en Estados Unidos.
      p
        | Para más información sobre el uso que Google Analytics realiza de los datos de usuario, consulte la política de privacidad de Google:
        a(href='https://support.google.com/analytics/answer/6004245?hl=de') https://support.google.com/analytics/answer/6004245
        p
          strong Complemento del navegador
        p
          | Puede impedir que se almacenen cookies en su ordenador cambiando la configuración del software de su navegador. Sin embargo, le advertimos de que en tal caso no podrá utilizar todas las funciones de la página web en su integridad. También puede impedir que se envíen a Google los datos generados por la cookie relativos a su uso de la página web (incluyéndose la dirección IP), así como su procesamiento por parte de Google. Para ello, tiene que descargarse e instalar el complemento del navegador disponible en este enlace:  
          a(href='https://tools.google.com/dlpage/gaoptout?hl=de') https://tools.google.com/dlpage/gaoptout?hl=de
      h2 Política de privacidad para el uso de etracker
      p
        | Nuestra página web utiliza le servicio de análisis etracker. El operador es etracker GmbH, Erste Brunnenstraße 1, 20459 Hamburgo Alemania. A partir de la información recopilada se pueden crear perfiles de usuario bajo un seudónimo. Para ello, se pueden utilizar cookies. Las cookies son pequeños archivos de texto que se almacenan de forma local en la memoria caché de su navegador de Internet. Las cookies permiten reconocer su navegador. Los datos recopilados con la tecnología de etracker no se utilizan para identificar personalmente al usuario de nuestra página web ni se combinan con los datos personales del titular del seudónimo sin el consentimiento expreso del titular.
      p
        | La recopilación y el almacenamiento de datos se pueden revocar en todo momento con efectos futuros. Si desea oponerse a la recopilación y el almacenamiento de datos con efectos futuros, en el enlace siguiente puede incluir una cookie de exclusión de etracker, de modo que, en adelante, etracker no recopile ni almacene datos de usuario en su navegador:  
        a(href='http://www.etracker.de/privacy?et=V23Jbb') http://www.etracker.de/privacy?et=V23Jbb
      p
        | Para ello, se necesita una cookie de exclusión de etracker llamada «cntcookie». Si elimina esta cookie, su oposición quedará sin efecto. Encontrará más información sobre la política de protección de datos de etracker en el enlace:
        a(href='http://www.etracker.com/de/datenschutz.html') http://www.etracker.com/de/datenschutz.html
      h2 Información, eliminación y bloqueo
      p
        | Usted tiene derecho a obtener información de forma gratuita sobre sus datos personales almacenados, su procedencia y destinatarios y la finalidad del procesamiento de datos, así como un derecho de rectificación, bloqueo o eliminación de dichos datos. En caso de tener más preguntas sobre los datos personales, póngase en contacto con nosotros en cualquier momento a la dirección que se indica en el aviso legal.
    include ../includes/footer.jade
