doctype html
html
  head
    include ../includes/head.jade
  body
    .container
      h1 License Agreement
      h2 Clause 1 Subject of the agreement
      p	
        | (1) The subject of the agreement is the use of the media-educational materials produced by the PRIX JEUNESSE Foundation for purposes of organizing a storytelling club (hereinafter referred to as “Storytelling Club”). The materials provided consist of a manual, a handout for teachers, various work sheets, short stories, instructions for games, world maps as well as film material (effective 09.2017).
      p	
        | The Storytelling Club is a media-educational project which is protected by copyright. The PRIX JEUNESSE Foundation is the sole owner of the exclusive exploitation rights. 
      p	
        | (2) The Storytelling Club is a project of PRIX JEUNESSE Foundation in cooperation with the German International Central Institute for Youth and Educational Television (Internationales Zentralinstitut für das Jugend- und Bildungsfernsehen). PRIX JEUNESSE is entitled to provide the materials to the users registered on the page storytellingclub.org/storytellingclub.de, free of charge and for an unlimited period of time for purposes of organizing Storytelling Club.
      p	
        | (3) This right on the part of the PRIX JEUNESSE Foundation only relates to registered users. 
      h2 Clause 2 Scope of use and granting of rights
      p	
        | (1) Under this agreement, the user is granted a non-exclusive, non-transferable right to use the materials for non-commercial purposes in the context of organizing Storytelling Clubs. The user must neither transfer this right on to third parties nor grant rights of use to third parties. The license to screen the films included in the materials only applies to the rooms belonging to the respective the organization and/or the premises rented by the respective organization, and is only permitted in the context of Storytelling Club. By registering, the user consents to the terms of this license agreement. In the context of the project, the user uploads extracts from the results of the Storytelling Club (pictures, stories, and photographs of the children) as a PDF onto a server to which the PRIX JEUNESSE Foundation has access. The PRIX JEUNESSE Foundation is entitled to use the materials for scientific purposes and to publish them in the context of the Storytelling Club.
      p	
        | (2) Any other use of the materials listed and/or any use in excess of this, in particular reproducing and disseminating them or making them publicly available in any other way is not permitted. 
      p	
        | (3) The desired use is, however, subject to the rights of any other copyright holders, the moral rights and rights of authors and contributors and other entitled parties, if any.
      p	
        | (4) The materials may only be downloaded by registered users. The person designated by the organization as being in charge of registration shall create a login access at the time of registration.
      p	
        | (5) The PRIX JEUNESSE Foundation will notify all users on the official website under “www.storytellingclub.de” and “storytellingclub.org” when revised or additional materials become available and will ensure that they can be downloaded in accordance with the provisions in paragraphs 2 and 3.
      p	
        | (6) Furthermore, the user must not broadcast the materials and in particular the films, whether in whole or in part, on the radio or on television. Any processing of the materials and the films as well as embedding individual components (for example film clips or text extracts) in other works/educational systems as well as the production of stills from the films or other materials is not permitted.
      p	
        | (7) The PRIX JEUNESSE Foundation confirms that it has acquired the rights that are necessary for the use in accordance with this agreement from all entitled parties (including all copyrights and related rights as well as other third-party rights) and that it is solely entitled to these rights. The rights exercised by collecting societies shall not be included in the above.
      p	
        | (8) Upon registration, the user consents to this license agreement. The user is aware that the PRIX JEUNESSE Foundation will pursue any violation of its copyrights under civil law and, where necessary, also seek criminal prosecution.
      h2 Clause 3 Technical provisions
      p	
        | (1) Upon registration, the user shall receive access data chosen by the user, which allows access to the server of the PRIX JEUNESSE Foundation on which the materials are stored. 
      p	
        | (2) The user undertakes to keep his/her password confidential and to protect it against any third-party access by taking suitable precautions. The user shall notify the PRIX JEUNESSE Foundation in writing without undue delay, if the password has become known to any unauthorized third parties.
      h2 Clause 4 Obligations of the user
      p	
        | (1) The user shall take all control and protective measures reasonable and appropriate within its sphere of control in order to prevent any unauthorized use of the materials. This shall apply in particular vis-à-vis its members of staff, employees, freelancers as well as any other persons who have access to the materials. The user undertakes to notify its members of staff and other third parties who use the materials about the agreed restrictions to the extent of use.
      p	
        | (2) Where there is evidence that the user repeatedly breaches his/her protection obligations, the PRIX JEUNESSE Foundation shall be entitled to terminate the license agreement without notice and to prohibit any further use.
      h2 Clause 5 Liability
      p	
        | (1) The user shall bear sole responsibility for the use of the material provided in accordance with the agreement and shall indemnify the PRIX JEUNESSE Foundation against all claims asserted by third parties, including the costs of any legal defence.
      p	
        | In addition, the user shall indemnify the PRIX JEUNESSE Foundation against all claims asserted by third parties which arise from an unauthorized use of the materials that form the subject of this agreement; this shall also include the costs of any legal defence.
      p	
        | (2) In the event that the user breaches this license agreement, the PRIX JEUNESSE Foundation reserves the right to take legal steps.
      h2 Clause 6 Final provisions
      p	
        | (1) The law of the Federal Republic of Germany shall apply.
      p	
        | (2) The place of performance and the place of jurisdiction for all disputes arising from this agreement shall be Munich, Germany. 
      p	
        | (3) If any provision of this agreement are invalid, whether in whole or in part, this shall not affect the validity of the remaining provisions. The parties agree to replace the invalid provision with a valid provision that, within the scope of what is legally permissible, most closely resembles the commercial intention in accordance with the spirit and purpose of the invalid provision. The same shall apply by way of analogy in relation to any gaps.
    include ../includes/footer.jade
