doctype html
html
  head
    include ../includes/head.jade
  body
    .container
      h1 اتّفاقيّة الإستعمال
      h2 § ١ موضوع العقد
      p	
        | (١)  موضوع الاتفاق هو استخدام المواد الإعلامية والتّعليمية التّي تنتجها مؤسّسة جائزة الشّباب  لإجراء نادي رواية القصص (المشار إليها فيما يلي باسم "نادي رواية القصص"). وتشمل المواد المقدّمة كتيّبا، كرّاسة للمعلّمين، ورقات عمل مختلفة، قصص قصيرة، تعليمات اللّعبة، وخرائط العالم والمواد السّينمائيّة.
      p	
        | نادي رواية القصص هو مشروع تعليميّ محمي بحقوق الطّبع والنشر مؤسّسة. جائزة الشّباب PRIX JEUNESSE هي المالك الوحيد لحقوق الاستغلال الحصريّة.
      p	
        | (٢) نادي رواية القصص هو مشروع لمؤسّسة جائزة الشباب  PRIX JEUNESSE بالتّعاون مع المعهد المركزي الدّولي. يحقّ لمؤسّسة جائزة الشباب PRIX JEUNESSE تقديم المواد للمستخدمين المسجّلين على صفحة:  storytellingclub.org/storytellingclub  مجانا وإلى أجل غير مسمّى لغرض إجراء نوادي رواية القصص.
      p	
        | (٣) هذا الحقّ من المؤسّسة ينحصر فقط على المستخدمين المسجلين.
      h2 § ٢ نطاق الاستخدام ومنح الحقوق
      p	
        | (١)  يلتزم المستخدم بهذا العقد بعدم استخدام المواد أثناء انشاء نوادي رواية القصص لأغراض  تجارية و لا يسمح بالنقل إلى أطراف ثالثة أو أطراف ثالثة لمنح حقوق الاستخدام. الحقوق التوضيحية للأفلام الواردة في المواد تغطي فقط أماكن المنشأة المعنية أو في الغرف المستأجرة من قبل المرفق المعني ويسمح استخدامها فقط في إطار نادي رواية القصص . من خلال التّسجيل، يوافق المستخدم على اتّفاقية المستخدم هذه كجزء من المشروع، يضع المستخدم مقتطفات من نتائج نادي رواية القصص (الصّور والقصص وصورا للأطفال) كملفات بدف PDF  على الخادم، والتي يحق لمؤسسة جائزة الشّباب PRIX JEUNESSE  الوصول اليها. كما يحق لهذه المؤسّسة  استخدام المواد للأغراض العلميّة ونشرها في سياق نادي رواية القصص.
      p	
        | (٢)  وأي استخدام أخر للمواد المذكورة، ولا سيما أي ازدواجية أو توزيع أو إتاحة للجمهور، أمر غير مسموح به بتاتا.
      p	
        | (٣) غير أن الاستخدام المرغوب لا يمكن أن يتم إلا امتثالا لحقوق أي مؤلفين آخرين، والحقوق المعنوية وحقوق المؤلفين والمساهمين وربما الأشخاص الآخرين المأذون لهم.
      p	
        | (٣) يمكن تحميل المواد من قبل المستخدمين المسجّلين فقط. لهذا الغرض، فإنّ الشّخص المسؤول المعين من قبل المؤسسة يتكفل بإنشاء حساب تسجيل الدخول عند التسجيل.
      p	
        | (٤) ستقوم مؤسسة  بإبلاغ جميع المستخدمين على الموقع الرسمي www.storytellingclub.de و „storytellingclub.org“   بشأن توفير بعض ترتيبات لمواد منقحة أو إضافية وتنزيلها وفقا للفقرتين ٢ و ٣
      p	
        | (٤) لا يحق للمستخدم أيضا أن يبث المواد ولا سيما الأفلام، حتى في أجزاء، عن طريق الراديو أو التلفزيون .لا يسمح بأي معالجة للمواد والأفلام وكذلك تضمين مكونات فردية (على سبيل المثال الأفلام والمقتطفات النصية) في أعمال  أنظمة تدريب أخرى، فضلا عن إنتاج صور ثابتة من الأفلام أو غيرها من المواد.
      p	
        | (٥) تؤكد مؤسسة جائزة الشباب  PRIX JEUNESSE أنها اكتسبت حقوق جميع الأشخاص المرخص لهم (بما في ذلك جميع حقوق التأليف والنشر وحقوق التأليف الإضافية وغيرها من حقوق الغير) اللازمة للاستخدام التعاقدي ولها وحدها الحق في الحصول عليها وتستثنى من ذلك الحقوق التي تمارسها جمعيات التحصيل.
      p	
        | (٦) عند التسجيل، يوافق المستخدم على اتفاقية المستخدم هذه. يدرك المستخدم أن المؤسسة ستحاكم أي انتهاك لحقوق الطبع والنشر بموجب القانون المدني، وإذا لزم الأمر، أيضا بموجب القانون الجنائي.
      h2 § ٣ الإحتياطات الفنيّة
      p	
        | (١) عند التّسجيل، سيتمّ منح المستخدم نفسه بيانات الوصول التّي تسمح بالوصول إلى خادم  مؤسسة جائزة الشباب  PRIX JEUNESSE أينما تتواجد كل المواد.
      p	
        | (٢) يتعهّد المستخدم بالحفاظ على سريّة كلمة المرور الخاصّة به وحمايتها من قبل أطراف ثالثة من خلال الاحتياطات المناسبة. يجب إعلام المؤسسة  كتابيّا من قبل المستخدم دون تأخير، عندما تصبح كلمة المرور معروفة لأطراف ثالثة غير مصرّح لهم.
      h2 § ٤ واجبات المستخدم
      p	
        | (١) يجب على المستخدم اتخاذ تدابير رقابة وحماية خاصّة ومناسبة في مجاله لمنع الاستخدام غير المصرّح به للمواد. وينطبق ذلك بصفة خاصة على الموظفين وأصحاب المهن الحرة وأي أشخاص آخرين لديهم إمكانية الحصول على المواد. يتعهد المستخدم بإبلاغ موظفيه والأطراف الثالثة الأخرى الذين يستخدمون المواد حول القيود المتفق عليها لنطاق الاستخدام.
      p	
        | (٢) إذا انتهك المستخدم مرارا وتكرارا واجبه في الحماية، يحقّ لمؤسسة جائزة الشباب  PRIX JEUNESSE إنهاء عقد المستخدم دون إشعار مسبق ومنع استخدام آخر.
      h2 § ٥ المسؤولية
      p	
        | (١) يتحمل المستخدم مسؤولية إستخدام التعاقدي للمادة المقدمة ويعوض المؤسسة عن جميع مطالبها، بما في ذلك تكاليف الدفاع القانوني المحتمل.
      وبالإضافة إلى ذلك، يقوم المستخدم بالتكفل عن المؤسسة  بجميع مطالبات الطرف الثالث التي ينبغي أن تنتج عن الاستخدام غير المصرح به للمواد التعاقدية، بما في ذلك تكاليف الدفاع القانوني المحتمل.
      p	
        | (٢) في حالة حدوث انتهاكات لاتفاق المستخدم هذا من قبل المستخدم، تحتفظ المؤسسة  بالحق في اتخاذ إجراء قانوني.
      h2 § ٦ أحكام ختامية
      p	
        | (١) يطبّق قانون جمهوريّة ألمانيا الاتّحادية.
      p	
        | (٢) مكان الأداء والولاية القضائية لجميع المنازعات الناشئة عن هذا العقد هو ميونخ.
      p	
        | (٣) إذا كان أي حكم من أحكام هذا العقد باطلا كليّا أو جزئيّا، فإنّ ذلك لن يؤثر على صحة الأحكام المتبقية ويتعهد الطّرفان بالاستعاضة عن الحكم غير السليم مع نص فعّال يكون أقرب ما يمكن إلى القانون من حيث ما هو مسموح به قانونا، وهذا ينطبق تبعا لذلك على أي ثغرات.
    include ../includes/footer.jade
